.sousTitre{
    font-size: 14px;
}

.btnPari{
    width: 100%;
}

.inputPari{
    margin-top: 5px;
}

.jaune{
    color: #FBBD00;
}

.mat-tab-group {
    margin-bottom: 8px;
}

.topRna{
    margin-top: 15px;
}

.align-center{
    margin-left: 43%;
}

.loader ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #FBBD00;
}

.labelRna{
    font-weight: 500;
    font-size: 14.5px;
}

.btnPari:hover{
    background-color: #FBBD00;
    color: #3C3C3C;
    font-weight: 500;
}