<h4>Gestion - <span class="jaune">Modification du match</span></h4>
<br/>
<!-- Orders -->
<div class="orders">
    <div class="row">
        <div class="col-xl-7">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title mb-3">{{match.championnat.nom}}</strong>
                </div>
                <div class="card-body">
                    <div class="mx-auto d-block">
                        <div class="align-center loader">
                            <mat-spinner *ngIf="resourcesLoaded"></mat-spinner>
                        </div>
                        <h5 class="text-sm-center mt-2 mb-1">{{match.equipe1.nom}} vs {{match.equipe2.nom}}</h5>
                        <div class="location text-sm-center"><i class="fa fa-map-marker"></i> {{ match.stade }}, {{ match.endroit }} - {{ match.date | date }} - {{ match.date | date: 'HH:mm' }}</div>
                    </div>
                    <hr/><hr/>
                    <div class="card-text">
                        <h6>{{titres[0]}}</h6>
                        <div class="row">
                            <div *ngFor="let parisVainqueur of parisVainqueurs" class="col-md-4">
                                <button (click)="pari($event, 0)" type="button" class="btn btn-outline-secondary btnPari">{{ parisVainqueur.valeur }}
                                    <span class="badge badge-light">{{ parisVainqueur.cote }}</span>
                                </button>
                            </div>
                        </div>
                        <hr/>
                        <h6>{{titres[1]}}</h6>
                        <div class="row">
                            <div *ngFor="let parisMarque of parisMarques" class="col-md-6">
                                <button (click)="pari($event, 1)" type="button" class="btn btn-outline-secondary btnPari">{{ parisMarque.valeur }}
                                    <span class="badge badge-light">{{ parisMarque.cote }}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <strong class="card-title mb-3"><span class="jaune">Statistique</span> actuel sur ce match</strong>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <div class="row">
                            <h6 class="col-md-6">Nombre de paris versés:</h6>
                            <h6 class="col-md-6">Total des montants des paris:</h6>
                        </div>
                        <hr/><hr/>
                    </div>
                </div>
            </div>
        </div>  <!-- /.col-lg-8 -->

        <div class="col-xl-5">
            <div class="row">
                <div class="col-lg-6 col-xl-12">
                    <div class="card bg-flat-color-3">
                        <div class="card-header">
                            <strong class="card-title"><span class="jaune">Modification</span> des informations</strong>
                        </div>
                        <div class="card-body" >
                            <mat-tab-group mat-align-tabs="start">
                                <mat-tab label="Générales">
                                    <form ngForm class="form-horizontal topRna">  
                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                <label class="form-control-label labelRna">Equipe1</label>
                                            </div>
                                            <div class="col-md-8">
                                                <select [(ngModel)]="equipe1" name="equipe1" class="form-control">
                                                    <ng-container *ngFor="let equipe of equipes">
                                                        <option value="{{equipe._id}}">{{equipe.nom}}</option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                <label class="form-control-label labelRna">Equipe2</label>
                                            </div>
                                            <div class="col-md-8">
                                                <select [(ngModel)]="equipe2" name="equipe2" class="form-control">
                                                    <ng-container *ngFor="let equipe of equipes">
                                                        <option value="{{equipe._id}}">{{equipe.nom}}</option>
                                                    </ng-container>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                <label class="form-control-label labelRna">Championnat</label>
                                            </div>
                                            <div class="col-md-8">
                                                <select [(ngModel)]="championnat" name="championnat" class="form-control">
                                                    <ng-container *ngFor="let championnat of championnats">
                                                      <option value="{{championnat._id}}">{{championnat.nom}}</option>
                                                    </ng-container>
                                                  </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                <label class="form-control-label labelRna">Date</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input [(ngModel)]="dateEtHeure" name="dateEtHeure" type="datetime-local"  class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                <label class="form-control-label labelRna">Stade</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input [(ngModel)]="stade" name="stade" type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col-md-4">
                                                <label class="form-control-label labelRna">Pays</label>
                                            </div>
                                            <div class="col-md-8">
                                                <input [(ngModel)]="pays" name="pays" type="text" class="form-control"/>
                                            </div>
                                        </div>
                                        <hr/>
                                        <button (click)="modifierInfoGeneral()" class="btn btn-outline-secondary btnPari"><i class="fa fa-pencil-square-o"></i>&nbsp; Modifier</button>
                                    </form>
                                </mat-tab>

                                <mat-tab label="Cotes">
                                    <form ngForm class="form-horizontal topRna"> 
                                        <h6 class="topRna">{{titres[0]}}</h6>
                                        <div *ngFor="let parisVainqueur of parisVainqueurs" class="row form-group">
                                            <div class="col-md-7">
                                                <label class="form-control-label">{{ parisVainqueur.valeur }}</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="number" id="{{ parisVainqueur.valeur }}" class="form-control" value="{{ parisVainqueur.cote }}"/>
                                            </div>
                                        </div>
                                        <hr/>
                                        <h6>{{titres[1]}}</h6>
                                        <div *ngFor="let parisMarque of parisMarques" class="row form-group">
                                            <div class="col-md-7">
                                                <label class="form-control-label">{{ parisMarque.valeur }}</label>
                                            </div>
                                            <div class="col-md-5">
                                                <input type="number" id="{{ parisMarque.valeur }}" class="form-control" value="{{ parisMarque.cote }}"/>
                                            </div>
                                        </div>
                                        <hr/>
                                        <button (click)="modifierCote()" class="btn btn-outline-secondary btnPari">Modifier</button>
                                    </form>    
                                </mat-tab>

                                <mat-tab label="Autres">
                                    <form ngForm class="form-horizontal topRna"> 
                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <label class="form-control-label labelRna">Etat</label>
                                            </div>
                                            <div class="col-md-12">
                                                <select [(ngModel)]="etat" name="etat" class="form-control">
                                                    <option value="0">Pariable</option>
                                                    <option value="1">En cours</option>
                                                    <option value="2">Terminé</option>
                                                </select>
                                            </div>
                                        </div>  
                                        <div class="row form-group">
                                            <div class="col-md-12">
                                                <label class="form-control-label labelRna">Commentaire</label>
                                            </div>
                                            <div class="col-md-12">
                                                <textarea [(ngModel)]="statut" name="statut" class="form-control" rows="8" placeholder="Entrer ici le commentaire du match">{{statut}}</textarea>
                                            </div>
                                        </div>
                                        <hr/>
                                        <button (click)="modifierInfoGeneral()" class="btn btn-outline-secondary btnPari"><i class="fa fa-pencil-square-o"></i>&nbsp; Modifier</button>
                                    </form>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- /.col-md-4 -->
    </div>
</div>
<!-- /.orders -->
