.sousTitre{
    font-size: 14px;
}

.btnPari{
    width: 100%;
}

.inputPari{
    margin-top: 5px;
}

.jaune{
    color: #FBBD00;
}

.mat-tab-group {
    margin-bottom: 48px;
}

.topRna{
    margin-top: 15px;
}