<!-- Widgets  -->
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-4">
                        <i class="pe-7s-cash"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">{{revenuMontant | number:'':'fr' }}</span> Ar</div>
                            <div class="stat-heading">Revenu</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-content">
                        <div class="textCentre dib">
                            <div class="stat-text gras"><span class="count policeWinBet"><span class="jaune">Win</span>bet</span></div>
                            <div class="stat-heading">Site de pari en ligne</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="stat-widget-five">
                    <div class="stat-icon dib flat-color-4">
                        <i class="pe-7s-users"></i>
                    </div>
                    <div class="stat-content">
                        <div class="text-left dib">
                            <div class="stat-text"><span class="count">{{ nbUtilisateur | number:'':'fr' }}</span></div>
                            <div class="stat-heading">Utilisateurs</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Widgets -->
<!--  Traffic  -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="box-title"><span class="jaune">Evolution</span> de l'application pendant l'année 2021 </h4>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="align-center loader">
                        <mat-spinner *ngIf="resourcesLoaded"></mat-spinner>
                    </div>
                    <div class="card-body">
                        <canvas *ngIf="!resourcesLoaded" baseChart 
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [plugins]="barChartPlugins"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"
                            [colors]="chartColors"
                            [height]=100>
                        </canvas>
                    </div>
                </div>
            </div> <!-- /.row -->
            <div class="card-body"></div>
        </div>
    </div><!-- /# column -->
</div>
<!--  /Traffic -->
<!-- <div class="clearfix"></div> -->