.align-center{
    margin-left: 43%;
}

.loader ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #FBBD00;
}

.textCentre{
    text-align: center;
}

.gras{
    font-weight: bold;
}

.jaune{
    color: #FBBD00;
}

.policeWinBet{
    font-family: 'FontAwesome';
    font-style: italic;
    font-size: 21px;
}